<div class="header">
  <mat-toolbar style="height: 80px;" color="primary">
    <button mat-flat-button routerLink="/" color="accent">Home</button>
    <button mat-flat-button routerLink="about" color="accent">About</button>
    <button mat-flat-button routerLink="contact" color="accent">Contact</button>
    <span class="fill-space">
    </span>
    <button mat-flat-button routerLink="register" color="warn">Register</button>
    <button mat-flat-button routerLink="login" color="warn">Login</button>
    <span *ngIf="user">
      <app-usericon [user]="user"></app-usericon>
    </span>
  </mat-toolbar>
</div>
