.api-box {
  width: 500px;
  padding: 8px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: cornsilk;
  border: 10px solid cornsilk;
  border-radius: 7px;
}

.api-box ul {
  margin-left: 1em;
}

.api-box h1 {
  font-size: 35px;
}

.api-box h2 {
  font-size: 30px;
}

.api-box h3 {
  font-size: 25px;
}

.api-box a {
  font-size: 30px;
}

.api-box ul li {
  margin-top: 5px;
}

.api-box ul li a {
  font-size: 19px;
}
