.wrapper {
  max-width: 1920px;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;

  transform: translateX(-30%);

  background-color: cornsilk;
  border: 10px solid cornsilk;
  border-radius: 20px;
}

.wrapper h1 {
  font-size: 35px;
}

.wrapper h2 {
  font-size: 30px;
}

.wrapper h3 {
  font-size: 25px;
}

.wrapper a {
  font-size: 30px;
}

.wrapper ul li a {
  font-size: 19px;
}
